{{> "blackFlag.equipment-attunement" }}

<fieldset class="properties checkbox-list">
	<legend>{{ localize "BF.Property.Label[other]" }}</legend>
	{{#each properties}}
		<label>
			<input type="checkbox" name="system.properties.{{ @key }}" {{ checked selected }}> {{ label }}
		</label>
	{{/each}}
</fieldset>

<fieldset>
	<legend>{{ localize "BF.Armor.Details" }}</legend>
	<div class="armor-value form-group">
		{{#if (eq system.type.category "shield")}}
			<label>{{ localize "BF.Shield.Bonus.Label" }}</label>
			<div class="form-fields">
				<span class="separator">+</span>
				{{ formInput fields.armor.fields.value value=source.armor.value placeholder="2" rootId=partId }}
			</div>
		{{else}}
			<label>{{ localize "BF.Armor.Value.Label" }}</label>
			<div class="form-fields">
				{{ formInput fields.armor.fields.value value=source.armor.value rootId=partId }}
				<span>{{ modifierHint }}</span>
			</div>
		{{/if}}
	</div>
	{{#if properties.magical.selected}}
		{{ formGroup fields.magicalBonus value=source.magicalBonus classes="label-hinted" localize=true rootId=partId }}
	{{/if}}
	{{#if properties.cumbersome.selected}}
		{{ formGroup fields.armor.fields.requiredStrength value=source.armor.requiredStrength localize=true rootId=partId }}
	{{/if}}
</fieldset>

{{> "blackFlag.item-activities" }}

<fieldset>
	<legend>{{ localize "BF.Override.Label[other]" }}</legend>
	<div class="modifier-overrides form-group split-group">
		<label>{{ localize "BF.Armor.Modifier.Label" }}</label>
		<div class="form-fields range-fields">
			{{ formGroup fields.modifier.fields.min value=source.modifier.min placeholder=system.modifier.minPlaceholder
			             classes="label-top" label="BF.Number.Minimum" localize=true rootId=partId }}
			<blackFlag-icon src="systems/black-flag/artwork/interface/range-connector.svg" class="separator"></blackFlag-icon>
			{{ formGroup fields.modifier.fields.max value=source.modifier.max placeholder=system.modifier.maxPlaceholder
									 classes="label-top" label="BF.Number.Maximum" localize=true rootId=partId }}
		</div>
	</div>
	{{ formGroup fields.overrides.fields.proficiency value=source.overrides.proficiency options=proficiencyOptions
							 input=inputs.createSelectInput localize=true rootId=partId }}
</fieldset>
