{{#if showConfiguration}}
	<fieldset>
		<legend>{{ localize "BF.Spell.Configuration" }}</legend>
		<label>
			<span>{{ localize "BF.Spell.Preparation.Label" }}</span>
			<select name="flags.black-flag.relationship.mode">
				{{ selectOptions CONFIG.spellPreparationModes.localized selected=flags.black-flag.relationship.mode }}
			</select>
		</label>
		{{#if item.system.alwaysPreparable}}
			<label class="full-checkbox">
				<span>{{ localize "BF.Spell.Preparation.AlwaysPrepared" }}</span>
				<input type="checkbox" name="flags.black-flag.relationship.alwaysPrepared"
			         {{ checked flags.black-flag.relationship.alwaysPrepared }}>
			</label>
		{{/if}}
		<label>
			<span>{{ localize "BF.Spellcasting.Ability.Label" }}</span>
			<select name="flags.black-flag.relationship.origin.ability">
				{{ selectOptions CONFIG.abilities.localized selected=flags.black-flag.relationship.origin.ability
		  	                 blank=(localize "BF.Default.Specific" default=system.defaultAbility) }}
			</select>
		</label>
		<label>
			<span>{{ localize "BF.Spellcasting.Origin" }}</span>
			<select name="flags.black-flag.relationship.origin.identifier">
				{{ selectOptions originOptions selected=flags.black-flag.relationship.origin.identifier }}
			</select>
		</label>
	</fieldset>
{{/if}}

<fieldset>
	<legend>{{ localize "BF.Item.Description.FullLabel" }}</legend>
	{{ formGroup fields.description.fields.short value=source.description.short hint="" localize=true rootId=partId }}
</fieldset>

<fieldset class="casting">
	<legend>{{ localize "BF.Spell.Casting.Label" }}</legend>
	<div class="form-group split-group">
		<label>{{ localize "BF.Spell.CastingTime.Label" }}</label>
		<div class="form-fields">
			{{#if system.casting.scalar}}
			{{ formGroup fields.casting.fields.value value=source.casting.value classes="label-top" localize=true
			             rootId=partId }}
			{{/if}}
			{{ formGroup fields.casting.fields.type value=source.casting.type options=activationOptions classes="label-top"
									 localize=true rootId=partId }}
		</div>
	</div>
	{{ formGroup fields.casting.fields.condition value=source.casting.condition localize=true rootId=partId }}
	<div class="form-group split-group">
		<label>{{ localize "BF.DURATION.Label" }}</label>
		<div class="form-fields">
			{{#if system.duration.scalar}}
			{{ formGroup fields.duration.fields.value value=source.duration.value classes="label-top" localize=true
									 rootId=partId }}
			{{!-- TODO: If formula is used, add tooltip to display value at various levels --}}
			{{/if}}
			{{ formGroup fields.duration.fields.unit value=source.duration.unit options=durationOptions classes="label-top"
									 localize=true rootId=partId }}
		</div>
	</div>
	{{#if (eq system.duration.unit "special")}}
		{{ formGroup fields.duration.fields.special value=source.duration.special localize=true rootId=partId }}
	{{/if}}
	<div class="field-group">
		<span>{{ localize "BF.Spell.Tag.Label" }}</span>
		<div class="tags checkbox-list">
			{{#each tags}}
				<label>
					<input type="checkbox" name="system.tags.{{ @key }}" {{ checked selected }}>
					{{ label }}
				</label>
			{{/each}}
		</div>
	</div>
</fieldset>

{{> "blackFlag.activity-range" range=system.range prefix="system." }}

{{> "blackFlag.activity-affects" target=system.target prefix="system." }}

{{> "blackFlag.activity-template" target=system.target prefix="system." }}

<fieldset class="components">
	<legend>{{ localize "BF.Spell.Component.Label" }}</legend>
	<div class="checkbox-list">
		{{#each components}}
			<label>
				<input type="checkbox" name="system.components.required.{{ @key }}" {{ checked selected }}>
				{{ label }}
			</label>
		{{/each}}
	</div>
	{{#if components.material.selected}}
		{{ formGroup fields.components.fields.material.fields.description value=source.components.material.description
		             localize=true rootId=partId }}
		<div class="form-group split-group">
			<label>{{ localize "BF.Spell.Component.Material.Cost.Label" }}</label>
			<div class="form-fields">
				{{ formGroup fields.components.fields.material.fields.cost value=source.components.material.cost
										 classes="label-top" localize=true rootId=partId }}
				{{ formGroup fields.components.fields.material.fields.denomination value=source.components.material.denomination
										 options=CONFIG.currencies.localizedAbbreviationOptions classes="label-top" localize=true rootId=partId }}
				{{ formGroup fields.components.fields.material.fields.consumed value=source.components.material.consumed
										 disabled=(not source.components.material.cost) classes="label-top" localize=true rootId=partId }}
			</div>
		</div>
	{{/if}}
</fieldset>

{{> "blackFlag.item-activities" }}
