{{> "blackFlag.equipment-attunement" }}

<fieldset class="properties checkbox-list">
	<legend>{{ localize "BF.Property.Label[other]" }}</legend>
	{{#each properties}}
		<label>
			<input type="checkbox" name="system.properties.{{ @key }}" {{ checked selected }}> {{ label }}
		</label>
	{{/each}}
</fieldset>

<fieldset>
	<legend>{{ localize "BF.WEAPON.Details" }}</legend>
	{{#if properties.magical.selected}}
		{{ formField fields.magicalBonus value=source.magicalBonus classes="label-hinted" localize=true rootId=partId }}
	{{/if}}
	{{#blackFlag-formGroup "BF.DAMAGE.Label" classes="damage"}}
		{{ formField fields.damage.fields.base.fields.number value=source.damage.base.number classes="label-top"
		             localize=true rootId=partId }}
		{{ formField fields.damage.fields.base.fields.denomination value=source.damage.base.denomination
		             options=CONFIG.dieSteps.labeledOptions classes="label-top" localize=true rootId=partId }}
		{{ formField fields.damage.fields.base.fields.type value=source.damage.base.type
		             options=CONFIG.damageTypes.localizedOptions classes="label-top" localize=true rootId=partId }}
	{{/blackFlag-formGroup}}
	{{#if properties.ammunition.selected}}
		{{ formField fields.ammunition.fields.type value=source.ammunition.type options=CONFIG.ammunition.localizedOptions
		             localize=true rootId=partId }}
	{{/if}}
	{{#if properties.magazine.selected}}
		{{ formField fields.ammunition.fields.capacity value=source.ammunition.capacity localize=true rootId=partId }}
	{{/if}}
	{{#if (or (eq source.type.category "natural") (eq source.type.value "ranged") properties.thrown.selected)}}
		{{#blackFlag-formGroup "BF.RANGE.Label" interiorClasses="range-fields"}}
			{{ formField fields.range.fields.short value=source.range.short classes="label-top" rootId=partId }}
			<blackFlag-icon src="systems/black-flag/artwork/interface/range-connector.svg" class="separator"></blackFlag-icon>
			{{ formField fields.range.fields.long value=source.range.long classes="label-top" rootId=partId }}
			{{#unless properties.reach.selected}}
				{{ formField fields.range.fields.unit value=source.range.unit options=CONFIG.distanceUnits.localizedOptions
				             classes="label-top" rootId=partId }}
			{{/unless}}
		{{/blackFlag-formGroup}}
	{{/if}}
	{{#if properties.reach.selected}}
		{{#blackFlag-formGroup "BF.Reach.Label"}}
			<i class="fa-solid fa-plus separator" inert></i>
			{{ formField fields.range.fields.reach value=source.range.reach classes="label-top" placeholder=reachPlaceholder
			             rootId=partId }}
			{{ formField fields.range.fields.unit value=source.range.unit options=CONFIG.distanceUnits.localizedOptions
			             classes="label-top" rootId=partId }}
		{{/blackFlag-formGroup}}
	{{/if}}
</fieldset>

<fieldset class="options checkbox-list">
	<legend>{{ localize "BF.WEAPON.Option.Label[other]" }}</legend>
	{{#each options}}
		<label>
			<input type="checkbox" name="system.options.{{ @key }}" {{ checked selected }}>
			{{ label }}
		</label>
	{{/each}}
</fieldset>

{{> "blackFlag.item-activities" }}

<fieldset>
	<legend>{{ localize "BF.Override.Label[other]" }}</legend>
	{{ formField fields.overrides.fields.proficiency value=source.overrides.proficiency options=proficiencyOptions
	             input=inputs.createSelectInput localize=true rootId=partId }}
</fieldset>
