{{> "blackFlag.equipment-attunement" }}

<fieldset class="properties checkbox-list">
	<legend>{{ localize "BF.Property.Label[other]" }}</legend>
	{{#each properties}}
		<label>
			<input type="checkbox" name="system.properties.{{ @key }}" {{ checked selected }}> {{ label }}
		</label>
	{{/each}}
</fieldset>

<fieldset>
	<legend>{{ localize "BF.Armor.Details" }}</legend>
	{{#if (eq system.type.category "shield")}}
		{{#blackFlag-formGroup "BF.Shield.Bonus.Label" classes="armor-value"}}
			<span class="separator">+</span>
			{{ formInput fields.armor.fields.value value=source.armor.value placeholder="2" rootId=partId }}
		{{/blackFlag-formGroup}}
	{{else}}
		{{#blackFlag-formGroup "BF.Armor.Value.Label" classes="armor-value"}}
			{{ formInput fields.armor.fields.value value=source.armor.value rootId=partId }}
			<span>{{ modifierHint }}</span>
		{{/blackFlag-formGroup}}
	{{/if}}
	{{#if properties.magical.selected}}
		{{ formGroup fields.magicalBonus value=source.magicalBonus classes="label-hinted" localize=true rootId=partId }}
	{{/if}}
	{{#if properties.cumbersome.selected}}
		{{ formGroup fields.armor.fields.requiredStrength value=source.armor.requiredStrength localize=true rootId=partId }}
	{{/if}}
</fieldset>

{{> "blackFlag.item-activities" }}

<fieldset>
	<legend>{{ localize "BF.Override.Label[other]" }}</legend>
	{{#blackFlag-formGroup "BF.Armor.Modifier.Label" interiorClasses="range-fields"}}
		{{ formGroup fields.modifier.fields.min value=source.modifier.min placeholder=system.modifier.minPlaceholder
		             classes="label-top" label="BF.Number.Minimum" localize=true rootId=partId }}
		<blackFlag-icon src="systems/black-flag/artwork/interface/range-connector.svg" class="separator"></blackFlag-icon>
		{{ formGroup fields.modifier.fields.max value=source.modifier.max placeholder=system.modifier.maxPlaceholder
		             classes="label-top" label="BF.Number.Maximum" localize=true rootId=partId }}
	{{/blackFlag-formGroup}}
	{{ formGroup fields.overrides.fields.proficiency value=source.overrides.proficiency options=proficiencyOptions
							 input=inputs.createSelectInput localize=true rootId=partId }}
</fieldset>
