{{#if configurationFields}}
	<fieldset>
		<legend>{{ localize "BF.Spell.Configuration" }}</legend>
		{{> "blackFlag.fieldlist" configurationFields }}
	</fieldset>
{{/if}}

<fieldset>
	<legend>{{ localize "BF.Item.Description.FullLabel" }}</legend>
	{{ formField fields.description.fields.short value=source.description.short hint="" localize=true rootId=partId }}
</fieldset>

<fieldset class="casting">
	<legend>{{ localize "BF.Spell.Casting.Label" }}</legend>
	{{#blackFlag-formGroup "BF.Spell.CastingTime.Label"}}
		{{#if system.casting.scalar}}
		{{ formField fields.casting.fields.value value=source.casting.value classes="label-top" localize=true
		             rootId=partId }}
		{{/if}}
		{{ formField fields.casting.fields.type value=source.casting.type options=activationOptions classes="label-top"
		             localize=true rootId=partId }}
	{{/blackFlag-formGroup}}
	{{ formField fields.casting.fields.condition value=source.casting.condition localize=true rootId=partId }}
	{{#blackFlag-formGroup "BF.DURATION.Label"}}
		{{#if system.duration.scalar}}
		{{ formField fields.duration.fields.value value=source.duration.value classes="label-top" localize=true
		             rootId=partId }}
		{{!-- TODO: If formula is used, add tooltip to display value at various levels --}}
		{{/if}}
		{{ formField fields.duration.fields.unit value=source.duration.unit options=durationOptions classes="label-top"
		             localize=true rootId=partId }}
	{{/blackFlag-formGroup}}
	{{#if (eq system.duration.unit "special")}}
		{{ formField fields.duration.fields.special value=source.duration.special localize=true rootId=partId }}
	{{/if}}
	<div class="field-group">
		<span>{{ localize "BF.Spell.Tag.Label" }}</span>
		<div class="tags checkbox-list">
			{{#each tags}}
				<label>
					<input type="checkbox" name="system.tags.{{ @key }}" {{ checked selected }}>
					{{ label }}
				</label>
			{{/each}}
		</div>
	</div>
</fieldset>

{{> "blackFlag.activity-range" range=system.range prefix="system." }}

{{> "blackFlag.activity-affects" target=system.target prefix="system." }}

{{> "blackFlag.activity-template" target=system.target prefix="system." }}

<fieldset class="components">
	<legend>{{ localize "BF.Spell.Component.Label" }}</legend>
	<div class="checkbox-list">
		{{#each components}}
			<label>
				<input type="checkbox" name="system.components.required.{{ @key }}" {{ checked selected }}>
				{{ label }}
			</label>
		{{/each}}
	</div>
	{{#if components.material.selected}}
		{{ formField fields.components.fields.material.fields.description value=source.components.material.description
		             localize=true rootId=partId }}
		{{#blackFlag-formGroup "BF.Spell.Component.Material.Cost.Label"}}
			{{ formField fields.components.fields.material.fields.cost value=source.components.material.cost
			             classes="label-top" localize=true rootId=partId }}
			{{ formField fields.components.fields.material.fields.denomination value=source.components.material.denomination
			             options=CONFIG.currencies.localizedAbbreviationOptions classes="label-top" localize=true
			             rootId=partId }}
			{{ formField fields.components.fields.material.fields.consumed value=source.components.material.consumed
			             disabled=(not source.components.material.cost) classes="label-top" localize=true rootId=partId }}
		{{/blackFlag-formGroup}}
	{{/if}}
</fieldset>

{{> "blackFlag.item-activities" }}
