<fieldset>
	<legend>{{ localize "BF.Spellcasting.Details.Label" }}</legend>
	{{ formGroup configuration.fields.source value=configuration.data.source
	             options=CONFIG.spellSources.localizedOptions hint="" rootId=partId }}
	{{ formGroup configuration.fields.ability value=configuration.data.ability options=CONFIG.abilities.localizedOptions
	             hint="" rootId=partId }}
	{{#if displayType}}
		{{ formGroup configuration.fields.type value=configuration.data.type
		             options=CONFIG.spellcastingTypes.localizedOptions rootId=partId }}
	{{/if}}
	{{#if progressionOptions}}
		{{ formGroup configuration.fields.progression value=configuration.data.progression
		             options=progressionOptions blank=false rootId=partId }}
	{{/if}}
	{{#if slots.display}}
		<div class="form-group" data-name="slots">
			<label class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.slots.hint">
				{{ localize "BF.Spellcasting.FIELDS.slots.label" }}
			</label>
			<div class="form-fields">
				{{#if slots.scaleValue}}
					{{{ slots.anchor }}}
				{{else}}
					<button class="link-button" type="button" data-action="addScale">
						<i class="fa-solid fa-plus" inert></i>
						{{ localize "BF.Advancement.ScaleValue.Title" }}
					</button>
				{{/if}}
			</div>
		</div>
	{{/if}}
</fieldset>
