<section>
	{{#if learningModes}}
		<fieldset>
			<legend>{{ localize "BF.Advancement.Spellcasting.GainingSpells" }}</legend>
			{{ formField configuration.fields.spells.fields.mode value=configuration.data.spells.mode
			             options=learningModes rootId=partId }}
			{{#each known as |data name|}}
				<hr>
				<div class="form-group" data-name="{{ name }}">
					<label class="hinted-label" data-tooltip="{{ data.hint }}">
						{{ localize data.label }}
					</label>
					<div class="form-fields">
						{{#if data.scaleValue}}
							{{{ data.anchor }}}
						{{else}}
							<button class="link-button" type="button" data-action="addScale">
								<i class="fa-solid fa-plus" inert></i>
								{{ localize "BF.Advancement.ScaleValue.Title" }}
							</button>
						{{/if}}
					</div>
				</div>
				{{#if (and ../configuration.data.rituals.scaleValue (eq name "rituals"))}}
					{{ formField ../configuration.fields.rituals.fields.restricted value=../configuration.data.rituals.restricted
					             rootId=partId }}
				{{/if}}
			{{/each}}
			{{#if (eq configuration.data.spells.mode "limited")}}
				{{ formField configuration.fields.spells.fields.replacement value=configuration.data.spells.replacement
				             rootId=partId }}
				{{ formField configuration.fields.spells.fields.schools value=configuration.data.spells.schools
										 options=CONFIG.spellSchools.localizedOptions rootId=partId }}
				{{ formField configuration.fields.spells.fields.special value=configuration.data.spells.special
				             rootId=partId }}
			{{else if (eq configuration.data.spells.mode "spellbook")}}
				{{#blackFlag-formGroup "BF.Spellcasting.FIELDS.spells.spellbook.label"
				                        hint=(localize "BF.Spellcasting.FIELDS.spells.spellbook.hint")}}
					{{ formField configuration.fields.spells.fields.spellbook.fields.firstLevel
					             value=configuration.data.spells.spellbook.firstLevel classes="label-top" rootId=partId }}
					{{ formField configuration.fields.spells.fields.spellbook.fields.otherLevels
					             value=configuration.data.spells.spellbook.otherLevels classes="label-top" rootId=partId }}
				{{/blackFlag-formGroup}}
			{{/if}}
		</fieldset>
	{{/if}}
</section>
