<fieldset>
	<legend class="hinted-label" data-tooltip="BF.Advancement.Trait.FIELDS.choices.hint">
		{{ localize "BF.Advancement.Trait.FIELDS.choices.label" }}
	</legend>
	{{ formField configuration.fields.choiceMode value=configuration.data.choiceMode options=choiceModeOptions
	             hint=(localize (ifThen (eq configuration.data.choiceMode "inclusive")
	             "BF.Advancement.Trait.Choice.Mode.Inclusive.Hint" "BF.Advancement.Trait.Choice.Mode.Exclusive.Hint"))
	             rootId=partId }}
	<ul class="selected-index-list">
		{{#each choices}}
			<li>
				<label>
					<input type="radio" name="selectedIndex" value="{{ @index }}" {{ checked (eq ../selectedIndex @index) }}>
					<span>{{ label }}</span>
				</label>
				<button type="button" class="link-button" data-action="deleteChoice"
				        data-tooltip="BF.Advancement.Trait.Action.RemoveChoiceGroup"
				        aria-tooltip="{{ localize 'BF.Advancement.Trait.Action.RemoveChoiceGroup' }}">
					<i class="fa-solid fa-trash" inert></i>
				</button>
			</li>
		{{/each}}
	</ul>
	<button type="button" class="link-button" data-action="addChoice">
		<i class="fa-solid fa-plus" inert></i>
		{{ localize "BF.Advancement.Trait.Action.AddChoiceGroup" }}
	</button>
</fieldset>
