<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	<div class="type">
		{{#if editable}}
			<button type="button" class="link-button" data-action="showConfiguration" data-type="type"
			        data-tooltip="BF.Size.Action.Configure"
			        aria-label="{{ localize 'BF.Size.Action.Configure' }}">
				<i class="fa-solid fa-cog" inert></i>
			</button>
		{{/if}}
		<span>{{ labels.sizeAndType }}</span>
	</div>

	<div class="stats">
		<label>
			<span>
				{{#if editable}}
					<button type="button" class="link-button" data-action="showConfiguration" data-type="armor-class"
					        data-tooltip="BF.ARMORCLASS.Action.Configure"
					        aria-label="{{ localize 'BF.ARMORCLASS.Action.Configure' }}">
						<i class="fa-solid fa-cog" inert></i>
					</button>
				{{/if}}
				{{ localize "BF.ARMORCLASS.Label" }}
				{{ blackFlag-notificationBadge actor category="armor-class" }}
			</span>
			<span>
				{{ system.attributes.ac.value }}
				{{#with system.attributes.ac.label}}
					<span class="ac-label">({{ this }})</span>
				{{/with}}
			</span>
		</label>
		{{> "systems/black-flag/templates/actor/parts/stat-block-hit-points.hbs" }}
		<label>
			<span>
				{{#if editable}}
					<button type="button" class="link-button" data-action="showConfiguration" data-type="movement"
					        data-tooltip="BF.Speed.Action.Configure"
					        aria-label="{{ localize 'BF.Speed.Action.Configure' }}">
						<i class="fa-solid fa-cog" inert></i>
					</button>
				{{/if}}
				{{ localize "BF.Speed.Label" }}
			</span>
			{{#if editable}}
				<input type="number" name="system.traits.movement.base" value="{{ source.traits.movement.base }}">
			{{else}}
				<span>{{ traits.speed }}</span>
			{{/if}}
		</label>
		<label class="stats__narrow">
			<span>
				{{ localize "BF.Skill.Perception.Label" }}
			</span>
			{{#if editable}}
				<input type="number" name="system.attributes.perception" value="{{ source.attributes.perception }}"
				       placeholder="{{ placeholders.perception }}">
			{{else}}
				<span>{{ blackFlag-number system.attributes.perception }}</span>
			{{/if}}
		</label>
		<label class="stats__narrow">
			<span>
				{{ localize "BF.Skill.Stealth.Label" }}
			</span>
			{{#if editable}}
				<input type="number" name="system.attributes.stealth" value="{{ source.attributes.stealth }}"
				       placeholder="{{ placeholders.stealth }}">
			{{else}}
				<span>{{ stealthLabel }}</span>
			{{/if}}
		</label>
		{{> "systems/black-flag/templates/actor/parts/stat-block-resistances.hbs" }}
		<label>
			<span>
				{{#if editable}}
					<button type="button" class="link-button" data-action="showConfiguration" data-type="senses"
					        data-tooltip="BF.SENSES.Action.Configure"
					        aria-label="{{ localize 'BF.SENSES.Action.Configure' }}">
						<i class="fa-solid fa-cog" inert></i>
					</button>
				{{/if}}
				{{ localize "BF.SENSES.Label[other]" }}
			</span>
			<span>{{ traits.senses }}</span>
		</label>
		<label>
			<span>
				{{#if editable}}
					<button type="button" class="link-button" data-action="showConfiguration" data-type="language"
					        data-tooltip="BF.Language.Action.Configure"
					        aria-label="{{ localize 'BF.Language.Action.Configure' }}">
						<i class="fa-solid fa-cog" inert></i>
					</button>
				{{/if}}
				{{ localize "BF.Language.Label[other]" }}
			</span>
			<span>{{ traits.languages }}</span>
		</label>
		<label>
			<span>{{ localize "BF.Initiative.Label" }}</span>
			<button type="button" class="link-button modifier-roll" data-action="roll" data-sub-action="initiative">
				<blackFlag-icon src="systems/black-flag/artwork/interface/dice/d20.svg" inert></blackFlag-icon>
				{{ blackFlag-number system.attributes.initiative.mod sign=true }}
			</button>
		</label>
	</div>
	{{> "systems/black-flag/templates/actor/parts/stat-block-abilities.hbs" }}
	{{> "systems/black-flag/templates/actor/parts/stat-block-actions.hbs" }}
</section>
