<section class="tab flex-tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	<div class="artwork">
		<figure class="icon">
			<figcaption>{{ localize "BF.Actor.Artwork.Portrait" }}</figcaption>
			<img class="profile" src="{{ actor.img }}" title="{{ actor.name }}"
					 {{~#if editable}} data-action="editImage" data-edit="img"
					 {{~else}} data-action="showArtwork"{{/if}}>
		</figure>
		{{#if portrait.showBoth}}
			<figure class="icon">
				<figcaption>{{ localize "BF.Actor.Artwork.Token" }}</figcaption>
				{{#if actor.isToken}}
					<img class="profile" src="{{ actor.token.texture.src }}" title="{{ actor.name }}"
							 {{~#if editable}} data-action="editImage" data-edit="token.texture.src"
							 {{~else}} data-action="showArtwork"{{/if}}>
				{{else}}
					<img class="profile" src="{{ actor.prototypeToken.texture.src }}" title="{{ actor.name }}"
							 {{~#if editable}} data-action="editImage" data-edit="prototypeToken.texture.src"
							 {{~else}} data-action="showArtwork"{{/if}}>
				{{/if}}
			</figure>
		{{/if}}
	</div>
	<div class="characteristics">
		<ul class="unlist">
			{{~> ".characteristic" label=(localize "BF.Biography.Age") name="age" value=system.biography.age }}
			{{~> ".characteristic" label=(localize "BF.Biography.Height") name="height" value=system.biography.height }}
			{{~> ".characteristic" label=(localize "BF.Biography.Weight") name="weight" value=system.biography.weight }}
			{{~> ".characteristic" label=(localize "BF.Biography.Eyes") name="eyes" value=system.biography.eyes }}
			{{~> ".characteristic" label=(localize "BF.Biography.Skin") name="skin" value=system.biography.skin }}
			{{~> ".characteristic" label=(localize "BF.Biography.Hair") name="hair" value=system.biography.hair }}
		</ul>
	</div>
	<div class="biography">
		{{~> ".biography" label=(localize "BF.Biography.Backstory") name="backstory" enriched=enriched.backstory }}
		{{~> ".biography" label=(localize "BF.Biography.Motivation") name="motivation" enriched=enriched.motivation }}
		{{~> ".biography" label=(localize "BF.Biography.AlliesOrganizations") name="allies" enriched=enriched.allies }}
	</div>
</section>

{{#*inline ".characteristic"}}
	<li>
		<label>{{ localize label }}</label>
		<input type="text" name="system.biography.{{ name }}" value="{{ value }}" {{ disabled (not editable) }}>
	</li>
{{/inline}}

{{#*inline ".biography"}}
	<div class="biography-block">
		<h3>{{ label }}</h3>
		{{#if @root.editable}}
			<prose-mirror name="{{ concat "system.biography." name }}" value="{{ lookup @root.source.biography name }}"
										{{!--data-document-uuid="{{ @root.actor.uuid }}" collaborate--}}></prose-mirror>
		{{else}}
			<div class="editor editor-content">
				{{{ enriched }}}
			</div>
		{{/if}}
	</div>
{{/inline}}
