<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	<div class="artwork">
		<figure class="icon">
			<figcaption>{{ localize "BF.Actor.Artwork.Portrait" }}</figcaption>
			<img class="profile" src="{{ actor.img }}" title="{{ actor.name }}"
			     {{~#if editable}} data-action="editImage" data-edit="img"
			     {{~else}} data-action="showArtwork"{{/if}}>
		</figure>
		{{#if portrait.showBoth}}
			<figure class="icon">
				<figcaption>{{ localize "BF.Actor.Artwork.Token" }}</figcaption>
				{{#if actor.isToken}}
					<img class="profile" src="{{ actor.token.texture.src }}" title="{{ actor.name }}"
					     {{~#if editable}} data-action="editImage" data-edit="token.texture.src"
					     {{~else}} data-action="showArtwork"{{/if}}>
				{{else}}
					<img class="profile" src="{{ actor.prototypeToken.texture.src }}" title="{{ actor.name }}"
					     {{~#if editable}} data-action="editImage" data-edit="prototypeToken.texture.src"
					     {{~else}} data-action="showArtwork"{{/if}}>
				{{/if}}
			</figure>
		{{/if}}
	</div>

	{{#if editable}}
		<prose-mirror name="{{ description.path }}" value="{{ description.value }}"></prose-mirror>
	{{else}}
		<div class="editor editor-content">
			{{{ enriched.description }}}
		</div>
	{{/if}}

	{{> "blackFlag.document-source" }}
</section>
