<div class="consumption form-group split-group">
	{{ formField fields.type name=(concat prefix "type") value=consumption.type options=@root.consumptionTypeOptions
	             classes="label-top" rootId=@root.partId }}
	{{#if consumption.showTargets}}
		{{ formField fields.target name=(concat prefix "target") value=consumption.target options=consumption.validTargets
		             blank=(not consumption.validTargets) placeholder=consumption.placeholder classes="label-top"
		             rootId=@root.partId }}
	{{/if}}
	{{ formField fields.value name=(concat prefix "value") value=consumption.value classes="label-top"
	             rootId=@root.partId }}
</div>

<div class="controls">
	{{#if @root.editable}}
		<button type="button" class="link-button" data-action="delete"
						data-tooltip="BF.Consumption.Action.Delete"
						aria-label="{{ localize 'BF.Consumption.Action.Delete' }}">
			<i class="fa-solid fa-trash" inert></i>
		</button>
	{{/if}}
</div>

{{#if (and scalingAllowed consumption.scalingModes)}}
	<div class="consumption-scaling form-group split-group full-width">
		{{ formField fields.scaling.fields.mode name=(concat prefix "scaling.mode") value=consumption.scaling.mode
		             options=consumption.scalingModes classes="label-top" rootId=@root.partId }}
		{{#if consumption.scaling.mode}}
			{{ formField fields.scaling.fields.formula name=(concat prefix "scaling.formula")
			             value=consumption.scaling.formula placeholder=(localize "BF.CONSUMPTION.Scaling.Automatic")
			             classes="label-top" rootId=@root.partId }}
		{{/if}}
	</div>
{{/if}}
