<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	<blackFlag-consumption name="consumption">
		<fieldset>
			<legend>{{ localize "BF.CONSUMPTION.FIELDS.consumption.label" }}</legend>
			<ul class="configuration-list">
				{{#each activity.consumption.targets}}
					<li data-index="{{ @index }}">
						{{> "systems/black-flag/templates/activity/parts/activity-consumption-part.hbs" consumption=this
						    fields=@root.fields.consumption.fields.targets.element.fields
								prefix=(concat "consumption.targets." @index ".")
						    scalingAllowed=@root.source.consumption.scale.allowed }}
					</li>
				{{else}}
					{{#unless editable}}
						<li class="add-control">{{ localize "None" }}</li>
					{{/unless}}
				{{/each}}
				{{#if editable}}
					<li class="add-control">
						<button type="button" class="link-button" data-action="add">
							 <i class="fa-solid fa-plus" inert></i> {{ localize "BF.CONSUMPTION.Action.Add" }}
						</button>
					</li>
				{{/if}}
			</ul>
			{{ formField fields.consumption.fields.scale.fields.allowed value=source.consumption.scale.allowed
			             rootId=partId }}
			{{#if source.consumption.scale.allowed}}
				{{ formField fields.consumption.fields.scale.fields.max value=source.consumption.scale.max
				             placeholder="∞" rootId=partId }}
			{{/if}}
			{{#if showPrimaryActivation}}
				{{ formField fields.activation.fields.primary value=source.activation.primary rootId=partId }}
			{{/if}}
		</fieldset>
	</blackFlag-consumption>

	{{> "systems/black-flag/templates/shared/uses-config.hbs" name="uses" source=source.uses derived=activity.uses }}
</section>
