{{#blackFlag-formGroup classes="damage"}}
	{{ formField fields.number name=(concat prefix "number") value=data.number classes="die-count label-top" localize=true
	             rootId=@root.partId }}
	{{ formField fields.denomination name=(concat prefix "denomination") value=data.denomination localize=true
	             options=@root.denominationOptions classes="die-denomination label-top" rootId=@root.partId }}
	<i class="fa-solid fa-plus separator"></i>
	{{ formField fields.bonus name=(concat prefix "bonus") value=data.bonus classes="bonus label-top" localize=true
	             rootId=@root.partId }}
	{{ formField fields.custom.fields.formula name=(concat prefix "custom.formula") value=data.custom.formula
	             classes="custom label-top" localize=true rootId=@root.partId }}
	{{ formField fields.type name=(concat prefix "type") value=data.type options=typeOptions classes="type label-top"
	             localize=true rootId=@root.partId }}
{{/blackFlag-formGroup}}

{{#unless data.locked}}
	<div class="controls">
		{{#if @root.editable}}
			<button type="button" class="link-button" data-action="customize"
							data-tooltip="BF.Formula.Action.Customize"
							aria-label="{{ localize 'BF.Formula.Action.Customize' }}">
				<i class="fa-solid fa-superscript" inert></i>
			</button>
			<button type="button" class="link-button" data-action="delete"
							data-tooltip="BF.DAMAGE.Action.Delete"
							aria-label="{{ localize 'BF.DAMAGE.Action.Delete' }}">
				<i class="fa-solid fa-trash" inert></i>
			</button>
		{{/if}}
	</div>
{{/unless}}

{{#if (eq data.type "variable")}}
	{{ formField fields.additionalTypes name=(concat prefix "additionalTypes") value=data.additionalTypes
	             options=variableTypeOptions classes="damage-types full-width label-top" label="BF.DAMAGE.AdditionalTypes.Label"
							 hint="BF.DAMAGE.AdditionalTypes.Hint" localize=true rootId=@root.partId }}
{{/if}}

{{#if @root.activity.canScaleDamage}}
	{{#blackFlag-formGroup classes="damage-scaling full-width"}}
		{{ formField fields.scaling.fields.mode name=(concat prefix "scaling.mode") value=data.scaling.mode
		             options=scalingOptions classes="scaling-mode label-top" localize=true rootId=@root.partId }}
		{{#if data.scaling.mode}}
			{{ formField fields.scaling.fields.number name=(concat prefix "scaling.number") value=data.scaling.number
									 classes="scaling-number label-top" localize=true rootId=@root.partId }}
			{{ formField fields.scaling.fields.formula name=(concat prefix "scaling.formula") value=data.scaling.formula
									 classes="scaling-formula label-top" localize=true rootId=@root.partId }}
		{{/if}}
	{{/blackFlag-formGroup}}
{{/if}}
<input type="hidden" name="{{ prefix }}custom.enabled" value="{{ data.custom.enabled }}" data-dtype="Boolean">
