<section>
	<fieldset class="drop-area">
		<legend>{{ localize "BF.Item.Type.Class[one]" }}</legend>
		<label>
			<span>{{ localize "BF.JournalPage.Class.Item.Label" }}</span>
			{{#if document.system.item}}
				<div class="item" data-item-uuid="{{ document.system.item }}" data-item-type="linked">
					{{{ blackFlag-linkForUUID document.system.item }}}
					<button type="button" class="link-button" data-action="deleteItem"
					        data-tooltip aria-label="{{ localize 'BF.JournalPage.Class.Action.Remove' }}">
						<i class="fa-solid fa-trash" inert></i>
					</button>
				</div>
			{{else}}
				<p class="drop-area hint">
					{{ localize "BF.JournalPage.Class.Item.Hint" }}
				</p>
			{{/if}}
		</label>

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
		    label="BF.JournalPage.Class.Introduction.Label" hint="BF.JournalPage.Class.Introduction.Hint"
		    keyPath="system.description.introduction" }}

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
		    label="BF.JournalPage.Class.Conclusion.Label" hint="BF.JournalPage.Class.Conclusion.Hint"
		    keyPath="system.description.conclusion" }}

		<label>
			<span>{{ localize "BF.JournalPage.Class.HeadingLevel.Label" }}</span>
			<select name="system.headingLevel">
				{{ selectOptions headingLevelOptions selected=system.headingLevel }}
			</select>
		</label>
	</fieldset>

	<fieldset>
		<legend>{{ localize "BF.JournalPage.Class.AdditionalDescriptions.Label" }}</legend>

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
				label="BF.HitPoint.Label[other]" hint="BF.JournalPage.Class.HitPoints.Hint"
				keyPath="system.description.additionalHitPoints" }}

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
				label="BF.Proficiency.Label[other]" hint="BF.JournalPage.Class.Traits.Hint"
				keyPath="system.description.additionalTraits" }}

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
				label="BF.JournalPage.Class.Equipment.Header" hint="BF.JournalPage.Class.Equipment.Hint"
				keyPath="system.description.additionalEquipment" }}
	</fieldset>

	<fieldset>
		<legend>{{localize "BF.Item.Type.Subclass[other]"}}</legend>

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
				label="BF.JournalPage.Class.Subclass.AdvancementDescription.Label"
				hint="BF.JournalPage.Class.Subclass.AdvancementDescription.Hint"
				keyPath="system.description.subclassAdvancement" }}

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
				label="BF.JournalPage.Class.Subclass.SectionDescription.Label"
				hint="BF.JournalPage.Class.Subclass.SectionDescription.Hint"
				keyPath="system.description.subclassSection" }}

		<ol class="items-list">
			{{#each system.subclasses}}
				<li class="item" data-item-uuid="{{ this }}" data-item-type="subclass">
					<div class="item-name">{{{ blackFlag-linkForUUID this }}}</div>
					<div class="item-controls">
						<button type="button" class="link-button" data-action="deleteItem"
						        data-tooltip aria-label="{{ localize 'BF.JournalPage.Subclass.Action.Remove' }}">
							<i class="fa-solid fa-trash" inert></i>
						</button>
					</div>
				</li>
			{{/each}}
		</ol>
		<p class="drop-area hint">
			{{ localize "BF.JournalPage.Subclass.Item.Hint" }}
		</p>
	</fieldset>
</section>
