<div class="standard-form">
	{{ formField system.schema.fields.grouping value=system.grouping options=groupingOptions }}
	{{ formField system.schema.fields.headingLevel value=system.headingLevel options=headingLevelOptions }}

	<div class="form-group">
		<label>{{ localize "BF.SPELLLIST.FIELDS.description.introduction.label" }}</label>
		<button type="button" class="heavy-button" data-action="launchTextEditor"
						data-target="system.description.introduction">
			<i class="fa-solid fa-edit" inert></i> {{ localize "BF.JournalPage.Edit" }}
		</button>
	</div>

	<div class="form-group">
		<label>{{ localize "BF.SPELLLIST.FIELDS.description.conclusion.label" }}</label>
		<button type="button" class="heavy-button" data-action="launchTextEditor"
						data-target="system.description.conclusion">
			<i class="fa-solid fa-edit" inert></i> {{ localize "BF.JournalPage.Edit" }}
		</button>
	</div>
</div>
