<div>
	<h3 class="flexrow">
		{{ localize "BF.SPELLLIST.FIELDS.spells.label" }}
	</h3>
	<ol class="items-list">
		{{#each spells}}
			<li class="item flexrow" data-item-uuid="{{ spell.uuid }}">
				<div class="item-name">{{{ anchor }}}</div>
				<div class="item-controls flexrow">
					<button type="button" class="link-button" data-action="delete" data-tooltop="BF.SPELLLIST.Action.Delete"
					        aria-label="{{ localize 'BF.SPELLLIST.Action.Delete' }}">
						<i class="fa-solid fa-trash" inert></i>
					</button>
				</div>
			</li>
		{{else}}
			<li class="drop-area hint">
				{{ localize "BF.SPELLLIST.DropHint" }}
			</li>
		{{/each}}
	</ol>
</div>
