<section>
	<fieldset class="drop-area">
		<legend>{{ localize "BF.Item.Type.Subclass[one]" }}</legend>
		<label>
			<span>{{ localize "BF.JournalPage.Subclass.Item.Label" }}</span>
			{{#if document.system.item}}
				<div class="item" data-item-uuid="{{ document.system.item }}" data-item-type="linked">
					{{{ blackFlag-linkForUUID document.system.item }}}
					<button type="button" class="link-button" data-action="deleteItem"
									data-tooltip="BF.JournalPage.Class.Action.Remove"
									aria-label="{{ localize 'BF.JournalPage.Subclass.Action.Remove' }}">
						<i class="fa-solid fa-trash" inert></i>
					</button>
				</div>
			{{else}}
				<p class="drop-area hint">
					{{ localize "BF.JournalPage.Subclass.Item.Hint" }}
				</p>
			{{/if}}
		</label>

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
				label="BF.JournalPage.Subclass.Introduction.Label" hint="BF.JournalPage.Subclass.Introduction.Hint"
				keyPath="system.description.introduction" }}

		{{> "systems/black-flag/templates/journal/parts/launch-text-editor-field.hbs"
				label="BF.JournalPage.Subclass.Conclusion.Label" hint="BF.JournalPage.Subclass.Conclusion.Hint"
				keyPath="system.description.conclusion" }}

		<label>
			<span>{{ localize "BF.JournalPage.Class.HeadingLevel.Label" }}</span>
			<select name="system.headingLevel">
				{{ selectOptions headingLevelOptions selected=system.headingLevel }}
			</select>
		</label>
	</fieldset>
</section>
