<header class="sheet-header flexrow">
	<img class="profile icon" src="{{ ifThen editable img.editable img.value }}" alt="{{ name.value }}"
			 {{~#if editable}} data-action="editImage" {{~#if portrait.path}} data-edit="{{ portrait.path }}"{{/if}}
			 {{~else}} data-action="showArtwork" data-src="img"{{/if}}>
	{{#if editable}}
		{{ formInput name.field value=name.editable classes="document-name" }}
	{{else}}
		<div class="document-name">{{ name.value }}</div>
	{{/if}}
</header>
