<section class="flexcol">
	<div class="final-value">{{ blackFlag-number system.data.attributes.ac.value }}</div>
	<fieldset>
		<legend>{{ localize "BF.ARMORCLASS.Label" }}</legend>
		{{ formField ac.fields.flat value=ac.source.flat localize=true rootId=partId }}
		{{ formField ac.fields.override value=ac.source.override localize=true rootId=partId }}
		{{ formField ac.fields.customLabel value=ac.source.customLabel placeholder=ac.data.defaultLabel localize=true
		             rootId=partId }}
	</fieldset>

	<fieldset class="modifier-list">
		<legend>{{ localize "BF.ARMORCLASS.FIELDS.attributes.ac.formulas.label" }}</legend>
		<table class="fieldset-table">
			<thead>
				<tr>
					<th scope="col" class="modifier-enabled"></th>
					<th scope="col" class="modifier-label">
						{{ localize "BF.ARMORCLASS.FIELDS.attributes.ac.formulas.element.label.label" }}
					</th>
					<th scope="col" class="modifier-formula">
						{{ localize "BF.ARMORCLASS.FIELDS.attributes.ac.formulas.element.formula.label" }}
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each armorFormulas}}
					<tr class="modifier">
						<td>
							<input type="checkbox" name="{{ keyPath }}.{{ id }}" {{ checked checked }}
							       {{ disabled disabled.checkbox }}>
						</td>
						<td>
							<input type="text" value="{{ localize label }}" {{ disabled disabled.input }}>
						</td>
						<td>
							<input type="text" value="{{ formula }}" {{ disabled disabled.input }}>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</fieldset>

	{{#each modifierSections}}
		{{> "blackFlag.modifier-list-v2" section=this }}
	{{/each}}

	{{#if equipped}}
		<fieldset class="equipped">
			<legend>{{ localize "BF.Armor.Equipped" }}</legend>
			<div class="header">
				<div class="armorValue">
					<i class="fa-solid fa-shield" data-tooltip="BF.Armor.Value.Label"
					   aria-label="{{ localize 'BF.Armor.Value.Label' }}"></i>
				</div>
				<div class="magicalBonus">
					<i class="fa-solid fa-wand-sparkles" data-tooltip="BF.Armor.MagicalBonus.Label"
					   aria-label="{{ localize 'BF.Armor.MagicalBonus.Label' }}"></i>
				</div>
			</div>
			{{#if equipped.armor}}{{> ".equipped" equipped.armor }}{{/if}}
			{{#if equipped.shield}}{{> ".equipped" equipped.shield }}{{/if}}
		</fieldset>
	{{/if}}
</section>

{{#*inline ".equipped"}}
<div class="form-group">
	<div class="name">
		<img src="{{ img }}" class="icon" alt="{{ name }}">
		{{{ anchor }}}
	</div>
	<span class="armorValue">{{ value }}</span>
	<span class="magicalBonus">{{ magicalBonus }}</span>
</div>
{{/inline}}
