<fieldset>
	<legend>{{ localize "BF.Language.Communication.Label" }}</legend>
	<table class="fieldset-table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">
					{{ localize "BF.LANGUAGES.FIELDS.proficiencies.languages.communication.element.range.label" }}
				</th>
				<th scope="col">
					{{ localize "BF.LANGUAGES.FIELDS.proficiencies.languages.communication.element.unit.label" }}
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each languages.communication}}
				<tr>
					<th scope="row">{{ label }}</th>
					<td>
						{{ formInput fields.range name=(concat prefix "range") value=value.range }}
					</td>
					<td>
						{{ formInput fields.unit name=(concat prefix "unit") value=value.unit
						             options=@root.CONFIG.distanceUnits.localizedOptions }}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</fieldset>
