<fieldset>
	<legend>{{ localize "BF.Language.Communication.Label" }}</legend>
	{{#each languages.communication}}
		<label>
			<span>{{ label }}</span>
			<input type="number" name="system.proficiencies.languages.communication.{{ @key }}.range" value="{{ value.range }}">
			<select name="system.proficiencies.languages.communication.{{ @key }}.unit">
				{{ selectOptions @root.CONFIG.distanceUnits.localizedOptions selected=value.unit }}
			</select>
		</label>
	{{/each}}
</fieldset>
