<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	{{#each descriptionParts as |part|}}
		{{> (part) @root }}
	{{/each}}
	<div class="description-area">
		{{#if showSidebar}}
			<div class="sidebar">
				{{#if isIdentified}}
					{{ formField fields.rarity value=source.rarity options=CONFIG.rarities.localizedOptions
					             classes="label-adjacent uninputs" localize=true blank="BF.Rarity.Level.Mundane" rootId=partId }}
				{{/if}}
				{{ formField fields.quantity value=source.quantity classes="label-adjacent uninputs" localize=true
				             rootId=partId }}
				{{#unless hidePrice}}
					{{#blackFlag-formGroup "BF.Price.Label" classes="label-adjacent uninputs"}}
						{{ formInput fields.price.fields.value value=source.price.value }}
						{{ formInput fields.price.fields.denomination value=source.price.denomination blank=false
						             options=CONFIG.currencies.localizedAbbreviationOptions }}
					{{/blackFlag-formGroup}}
				{{/unless}}
				{{#blackFlag-formGroup "BF.Weight.Label" classes="label-adjacent uninputs"}}
					{{ formInput fields.weight.fields.value value=source.weight.value }}
					{{ formInput fields.weight.fields.unit value=source.weight.unit blank=false
					             options=CONFIG.weightUnits.localizedAbbreviationOptions }}
				{{/blackFlag-formGroup}}
			</div>
		{{/if}}
		{{#if isIdentified}}
			{{#if editable}}
				<prose-mirror name="system.description.value" data-document-uuid="{{ item.uuid }}"
											value="{{ source.description.value }}" class="description" compact></prose-mirror>
			{{else}}
				<div class="description">
					{{{ enriched.description }}}
				</div>
			{{/if}}
		{{else}}
			{{#if editable}}
				<prose-mirror name="system.unidentified.description" data-document-uuid="{{ item.uuid }}"
											value="{{ source.unidentified.description }}" class="description" compact></prose-mirror>
			{{else}}
				<div class="description">
					{{{ enriched.unidentified }}}
				</div>
			{{/if}}
		{{/if}}
	</div>
	{{#unless hideSource}}
		{{> "blackFlag.document-source" }}
	{{/unless}}
</section>
