<section>
	<div class="category">
		{{ formGroup fields.type.fields.category value=source.type.category options=type.categoryOptions
		             classes="label-top" localize=true rootId=partId }}
		{{#if type.typeOptions}}
			{{ formGroup fields.type.fields.value value=type.value options=type.typeOptions
									 classes="label-top" label=type.typeLabel localize=true rootId=partId }}
		{{/if}}
		{{#if type.typeSources}}
			{{ formGroup fields.identifier.fields.associated value=source.identifier.associated options=type.typeSources
			             classes="label-top" label="BF.Feature.Source" hint="" localize=true rootId=partId }}
		{{/if}}
		{{#if type.displayLevel}}
			{{log type}}
			{{ formGroup fields.level.fields.value value=(ifThen type.fixedLevel type.fixedLevel source.level.value)
			             disabled=(gte type.fixedLevel 0) classes="label-top" label="BF.Level.Label[one]" localize=true
			             rootId=partId }}
		{{/if}}
	</div>
	{{#if (or editable system.restriction.label)}}
		<div class="prerequisite">
			<span>
				{{ localize "BF.Prerequisite.Label" }}: {{#if system.restriction.label}}
				{{~{ system.restriction.label }}}{{else}}{{ localize "None" }}{{/if}}
			</span>
			{{#if editable}}
				<button type="button" class="link-button" data-action="showConfiguration" data-type="prerequisite"
								data-tooltip="BF.Prerequisite.Action.Config"
								aria-label="{{ localize 'BF.Prerequisite.Action.Config' }}">
					<i class="fa-solid fa-cog" inert></i>
				</button>
			{{/if}}
		</div>
	{{/if}}
</section>
