<section>
	<div class="category">
		{{ formGroup fields.circle.fields.base value=source.circle.base options=spellCircleOptions
		             label="BF.Spell.Circle.Label" localize=true rootId=partId }}
		<div class="form-group">
			<label for="{{ partId }}-source">{{ localize "BF.Spell.Source.Label" }}</label>
			<div class="form-fields">
				<blackFlag-multiSelect name="system.source" label="{{ system.source.label }}">
					<datalist>
						{{#blackFlag-multiSelect system.source}}
							{{ selectOptions CONFIG.spellSources.localized }}
						{{/blackFlag-multiSelect}}
					</datalist>
				</blackFlag-multiSelect>
			</div>
		</div>
		{{ formGroup fields.school value=source.school options=CONFIG.spellSchools.localizedOptions
		             localize=true rootId=partId }}
	</div>
</section>
